/* Headings */

.heading {
    text-align: center;
    font-family: 
}

#hangmanTitle {
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
}

#subheading {
    font-family: 'Playfair Display', serif;
    font-size: 80px;
}

/* Main Body Area */

.mainBody {
    margin: 50%;
}

.column {
    float: left;
    width: 45%;
    padding: 10px;
    background-color: gray;
}

#rightParagraph {
    float: right;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

/* Fonts taken from GoogleFonts
font-family: 'Raleway', sans-serif; - title
font-family: 'Playfair Display', serif; - english looking font */